@import '../global.scss';

:local(.styles) {
  .app-bar {
    background-color: $ntv-sky;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #efefef;
    svg {
      height: 20px;
      width: auto;
      fill: #fff;
    }
    .nav {
      display: flex;
      align-items: center;
      .nav-item {
        display: inline-block;
        margin-left: 25px;
        color: #fff;
      }
    }
  }
}
