:local(.styles) {
  .app-bar {
    background-color: #fff;
    padding: 50px 25px;
    display: flex;
    justify-content: space-between;
    .nav {
      .nav-item {
        display: inline-block;
        margin-left: 25px;
      }
    }
  }
}
