@import '../../global.scss';

.prompt {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-of-type(odd) {
    background-color: $cream;
  }
  &:nth-of-type(even) {
    background-color: $cream-dark;
  }
  .contents {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    .body {
      display: flex;
      flex-direction: column;
      flex-basis: 75%;
      p {
        font-family: $prompt-font;
        font-size: 32px;
        line-height: 1.5em;
      }
    }
  }
}

.actions {
  flex-basis: 25%;
  flex-wrap: wrap;
  display: flex;
  .market-cap {
    flex-basis: 100%;
    font-size: 1.5em;
  }
  .buy-sell {
    flex-basis: 100%;
    .button {
      display: inline-block;
      border: 2px solid $ntv-action;
      color: $ntv-action;
      &:first-of-type {
        margin-right: 15px;
      }
      &:hover {
        background-color: $ntv-action;
        color: #fff;
      }
    }
  }
}
