@import '../global.scss';
.passages--container {
  width: 100%;
  background-color: $cream;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  .contents {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .spacer {
    flex-basis: 25%;
  }
  .passages {
    flex-basis: 75%;
    margin: 0 auto;
    span {
      display: inline;
      margin: 0px;
      font-size: 2em;
      line-height: 1.65em;
      color: #333;
      border-color: transparent;
      background-color: transparent;
      font-family: $prompt-font;
      cursor: pointer;
      transition: all .15s linear;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #333;
        background-color: $cream-dark;
      }
    }
  }
}
