:local(.styles) {



}

@import '../../global.scss';

.toolbar {
  width: calc(100% - 50px);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: $cream-dark;
}
