@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,700,900');

$base-font: 'Rubik', sans-serif;
$prompt-font: 'Merriweather', serif;

// Color Palette
$cream: rgba(249,248,244,1);
$cream-dark: rgba(243, 242, 237, 1);
// others
$od-primary: rgba(38,28,70,1);
$od-yellow: rgba(244,230,89,1);
$od-light-purple: rgba(93,63,152,1);
$od-green: rgba(191,222,189,1);
$ntv-primary: rgba(166,191,76,1);
$ntv-action: rgba(248, 128, 115,1);
$ntv-sky: rgba(132,206,200,1);
$ntv-cream-darker: rgba(237,232,226,1);

//Media Queries
$tablet: 768px;
$phone: 420px;

body {
  font-family: $base-font;
  font-size: 16px;
  line-height: 1.35em;
  font-weight: 300;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font;
  color: #333;
}

a {
  &:hover {
    text-decoration: none;
  }
}



.button {
  border: 2px solid $od-light-purple;
  padding: 10px 15px;
  color: $od-light-purple;
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all .15s linear;
  outline: none;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: $od-light-purple;
  }
  &.plain, .plain:hover {
    border: none;
    background-color: none !important;
  }
  &.button--close {
    float: right;
  }
}

.block {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .contents {
    .button {
      margin-top: 120px;
    }
  }
}

// Drawer overrides


.MuiDrawer-paperAnchorRight-4 {
  width: 50%;
}

.drawer--prompt {
  width: 50%;
  .contents {
    padding: 25px;
  }
}

.drawer--prompt {
  width: 50%;
}

.prompt-composer {
  width: calc(100% - 50px);
  padding: 25px;
  .MuiFormControl-root-39 {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .button {
    margin-top: 25px;
  }
}
